name: Build and Push image to Sakura Registry
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  build-and-push-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Sakura Container Registry
        uses: docker/login-action@v3
        with:
          registry: janog57-netcon.sakuracr.jp
          username: ${{ secrets.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push API container
        uses: docker/build-push-action@v3
        with:
          context: ./api
          file: ./api/Dockerfile
          push: true
          tags: |
            janog57-netcon.sakuracr.jp/network-score-server-api:latest
            janog57-netcon.sakuracr.jp/network-score-server-api:master
            janog57-netcon.sakuracr.jp/network-score-server-api:commit-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-and-push-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Sakura Container Registry
        uses: docker/login-action@v3
        with:
          registry: janog57-netcon.sakuracr.jp
          username: ${{ secrets.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push UI container
        uses: docker/build-push-action@v3
        with:
          context: ./ui
          file: ./ui/Dockerfile
          push: true
          tags: |
            janog57-netcon.sakuracr.jp/network-score-server-ui:latest
            janog57-netcon.sakuracr.jp/network-score-server-ui:master
            janog57-netcon.sakuracr.jp/network-score-server-ui:commit-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-and-push-vmdb-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Sakura Container Registry
        uses: docker/login-action@v3
        with:
          registry: janog57-netcon.sakuracr.jp
          username: ${{ secrets.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push vmdb-api container
        uses: docker/build-push-action@v3
        with:
          context: ./vmdb-api
          file: ./vmdb-api/Dockerfile
          push: true
          tags: |
            janog57-netcon.sakuracr.jp/network-score-server-vmdb-api:latest
            janog57-netcon.sakuracr.jp/network-score-server-vmdb-api:master
            janog57-netcon.sakuracr.jp/network-score-server-vmdb-api:commit-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-and-push-exporter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Sakura Container Registry
        uses: docker/login-action@v3
        with:
          registry: janog57-netcon.sakuracr.jp
          username: ${{ secrets.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push exporter container
        uses: docker/build-push-action@v3
        with:
          context: ./exporter
          file: ./exporter/Dockerfile
          push: true
          tags: |
            janog57-netcon.sakuracr.jp/network-score-server-exporter:latest
            janog57-netcon.sakuracr.jp/network-score-server-exporter:master
            janog57-netcon.sakuracr.jp/network-score-server-exporter:commit-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
